
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap');

*{box-sizing: border-box;}

html {font-size: 16px;}

body {
    color: black;
    font-family: 'Inika', serif; Inter,sans-serif;
}

body, h1, h2, h3, p, figure, {
    margin: 0;
    padding: 0;
}

img { max-width: 100%;}


h1 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-right: 50px;

}
h2 {
    margin-right: 60px;
    margin-top: -15px;
}

header {
    background-color: #f3d5d9;
    padding: 10px;
    width: 100vw;
    font-size: 15px;
    text-align: right;
}

.dadospss {
    text-align: right;
    margin-right: 50px;
}
