

* { box-sizing: border-box;}


:root {
    --cor-verde: #41B6A1;
    --cor-preto: #000;
    --cor-branco: #fff;
    --cor-cinza1: #D9D9D9;
    --cor-cinza2:#837B7B;
}

html {
    font-size: 16px;
}

h1, h2, p {
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: var(--cor-verde); 
    text-align: right;
    font-size: 400%;
}

header p {
    color: var(--cor-cinza2);
    text-align: right;
    width: auto;
    font-size: 200%;

}

header {
    background-color: var(--cor-cinza1);
    padding: 50px;
    margin: auto;
    width: auto;
   
}


.container {
    background-color:var(--cor-branco);
    padding: 2px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin:auto;

}

figure img {

    display: flex;
    justify-content:right;
    align-items:center;
    width: 35%;
}


    

.coluna1 {
    background-color:var(--cor-branco);
    width: 45%;
    margin-left: 0px;
   
 
  

}

.coluna2 {
    background-color: var(--cor-branco);
    width: 65%;
    padding: 10px;
     
}
.coluna2 h2 {
    color: var(--cor-preto);
    font-size: 30px;
    border-bottom-style:groove;
    border-color: #41B6A1;
    
    
}
.coluna2 p {
    font-size: 30px;


}

.contato {
    background-color: var(--cor-branco);
    width: 100%;
    max-height: max-content;
    padding: 25px;
    height: 30%;
    font-size: 25px;
}

.contato h2 {
    color: var(--cor-verde);
}

  

.habilidade {
    background-color: var(--cor-branco);
    width: 100%;
    padding: 10px;
    height: 40%;
    font-size: 20px;
}

.habilidade h2 {
margin-left: 30px;
width: 20px;
font-size: 35px;
color: var(--cor-verde);
}
  
.habilidade li {
    font-size: 25px;

}

.barra {
    width: 100%;
    background-color:var(--cor-cinza1);
    height: 20px;
}

.progresso {
width: 80%;
height: 20px;
background-color: var(--cor-verde);

}

.barraC {
    width: 100%;
    background-color:var(--cor-cinza1);
    height: 20px;
}

.progressoC {
width: 90%;
height: 20px;
background-color: var(--cor-verde);

}
.barraR {
    width: 100%;
    background-color:var(--cor-cinza1);
    height: 20px;
}

.progressoR {
width: 70%;
height: 20px;
background-color: var(--cor-verde);

}

.barraT {
    width: 100%;
    background-color:var(--cor-cinza1);
    height: 20px;
}

.progressoT {
width: 90%;
height: 20px;
background-color: var(--cor-verde);

}

.idioma {
    width: 100%;
    margin: auto;
    padding:30px;
    padding-top: 30px;
    font-size: 25px;
    background-color: var(--cor-branco);
    height: 30%;}

    .idioma h2 {
        color: var(--cor-verde);
    }
    .circulo {
        width: 25px;
  height: 25px;
  background-color: var(--cor-verde);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
} 


.circuloIn1 {
    width: 25px;
height: 25px;
background-color: var(--cor-cinza1);
border-radius: 50%;
display: inline-block;
margin-right: 10px;
}

.circuloEs1 {
    width: 25px;
height: 25px;
background-color: var(--cor-cinza1);
border-radius: 50%;
display: inline-block;
margin-right: 10px;
} 
.circuloEs2 {
    width: 25px;
height: 25px;
background-color: var(--cor-cinza1);
border-radius: 50%;
display: inline-block;
margin-right: 10px;
} 


    
@media screen and (min-width: 400px) {

header {
    width: 100%;
}

header h1  {
    font-size: 40px;
}

header p{
    font-size: 35px;
}
figure img {
    height: 100%;
}
    
}